<div class="modal-header">
	<input id="title" type="text" class="input-title input-block-level" placeholder="Event name..."/>
</div>

<div class="modal-body">
  	<legend><h5>Assign to</h5></legend>
	<fieldset>
		<select id="user" class="input-block-level">
		</select>
  	</fieldset>
    <legend><h5>On <span id="eventDate"></span></h5></legend>
	<fieldset class="text-center" >
	    <div class="input-prepend">
	    	<span class="add-on"><i class="icon-time"></i></span>
			<input id="startTime" type="text" class="input-small timepicker"/>
		</div>
		<span class="visible-desktop">-</span>
		<hr class="hidden-desktop"/>
		<div class="input-prepend">
	    	<span class="add-on"><i class="icon-time"></i></span>
			<input id="endTime" type="text" class="input-small timepicker"/>
		</div>
  	</fieldset>
  	<legend><h5>Description</h5></legend>
	<fieldset>
		<textarea id="description" rows="4" class="input-block-level"/>
  	</fieldset>
</div>

<div class="modal-footer">
	<button id="modalDelete" type="button" class="btn btn-danger pull-left">Delete</button>
	<button id="modalSave" type="button" class="btn btn-primary">Save</button>
	<button id="modalCancel" type="button" class="btn" data-dismiss="modal">Cancel</button>
</div>

<script type="text/javascript" src="modal.js"></script>