<div class="modal-header">
	<h3>New calendar event</h3>
</div>

<div class="modal-body ajax-modal">
	<form>
		<div class="control-group">
			<label class="control-label" for="startDate">Start date:</label>
			<div class="controls controls-row">
				<div class="input-append">
					<input id="startDate" type="text" value="02/16/12" data-date-format="mm/dd/yy" class="datepicker input-small"/>
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				<div class="offset1 input-append bootstrap-timepicker">
					<input id="startTime" type="text" class="bootstrap-timepicker timepicker input-small">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="endDate">End date:</label>
			<div class="controls controls-row">
				<div class="input-append">
					<input id="endDate" type="text" value="02/16/12" data-date-format="mm/dd/yy" class="datepicker input-small"/>
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				<div class="offset1 input-append">
					<div class="bootstrap-timepicker inline">
						<input id="endTime" type="text" class="input-small">
					</div>
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>

<script>
	$('.datepicker').datepicker();
	$('#endTime').timepicker({
		minuteStep: 5,
        showInputs: false,
        disableFocus: true
	});
</script>